body {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	background-color:#bbbbbb;
}
.clear{clear:both;}
* {margin: 0px;padding: 0px;}
#container {
	margin: 10px 10px 10px 10px;
	text-align: center;
	
}
a{color:#000000;}
a:hover{color:#205080;}
/********************** Header ***************************/
#header {
	
}
#header h1{
        font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 75px;
	font-weight: normal;
	text-transform: none;
        color: #205080;}

#header h2{
        font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: normal;
	text-transform: none;
        color: #205080;}
/********************** Navigation **********************/
#navigation ul{
	position:relative;
	top:0px;
	left:0px;
	float:center;
	margin:0 auto;
	width:600px;
}
#navigation li{
	display:block;
	float:left;
	width:100px;
}
#navigation ul a{
	color:#aefa0d;
	text-decoration:none;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 900;
}
#navigation ul a:hover{color:#97b15e;}

/********************** main ***************************/
#main {
	
}

#main h1{
        font-family: Arial, Helvetica, sans-serif;
	font-size: 70px;
	font-weight: bolder;
	text-transform: none;
        color: #000000;}

#main h2{
        font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: normal;
	text-transform: none;
        color: #000000;}

#main h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-transform: none;
	color: #000000;}

#main h4{ color: #000000;
}

#main p{}

#main a{}

img { border: 4px solid ; color:#bbbbbb;} 
img:hover { border: 4px solid ; color:#205080;}

/********************** Footer ***************************/
#footer {
	padding: 10px 10px 10px 10px;
	text-align: center;
}
